.toggle{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img{
            width: 50px;
            height: 40px;
        }
    }
}