.icons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        ion-icon{
            font-size: 32+px;
        }
    }
}

@media (min-width: 340px) and (max-width: 767px) {

    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75%;
        gap: 10px;
        margin: 0 auto;

        div{            
            display: flex;
            flex-direction: row;
                        
            ion-label{
                width: 65%;
                text-align: start;
            }

            ion-icon{
                font-size: 40px;
                width: 40%;
            }
        }
    }
        
    
}