<div class="icons">
  <div lines="none">
    <ion-icon name="logo-angular" color="primary"></ion-icon>
    <ion-label>Angular</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="logo-nodejs" color="primary"></ion-icon>
    <ion-label>Node.JS</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="logo-javascript" color="primary"></ion-icon>
    <ion-label>JavaScript</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="logo-html5" color="primary"></ion-icon>
    <ion-label>HTML</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="logo-css3" color="primary"></ion-icon>
    <ion-label>CSS</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="logo-ionic" color="primary"></ion-icon>
    <ion-label>Ionic</ion-label>
  </div>
  <div lines="none">
    <ion-icon name="server" color="primary"></ion-icon>
    <ion-label>MySql</ion-label>
  </div>
</div>
