.content{
    width: 95vh;
    margin: 0 auto;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button{
    width: 140px;
}

.close{
    width: fit-content;

    ion-icon{
        font-size: 24px;
    }
}

@media (min-width: 540px) and (max-width: 1024px) {

    .content{
        width: 100%;
        margin: 0 auto;
    }
    
}